*{
    box-sizing: border-box;
}


body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}



h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}

button{
    font-size: 2em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 15px;
    border: 3px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
    background-color: #6088AE;
}

button:hover{
    background-color: #312844;
}



/* HEADER */


header .container{
    height: 100px;
    width: 100%;
    background-color: #372A4A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
} 


nav{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    padding: 10px;
    width: 160px;
    margin-left: 20px;
        
}

.icon{
    font-size: 25px;
    color: rgb(255, 255, 255);
    margin-right: 20px;
    cursor: pointer;
}


.menu{
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 100px;
    background-color: rgba(0, 0, 0, 0.943);
    text-align: center;
    transition: all .5s;

}

.menu li{
    display: none;
    line-height: 30px;
    margin: 50px 0;
   
}

.menu li a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 600;
}

.menu li a.active, .menu li a:hover{
    color: #34B994; 
    transition: .3s;
}

#check{
    display: none;
}

#check:checked ~ .menu{
    height: 100vh;
}

#check:checked ~ .menu li{
    display: block;
}




/* NOTICIAS */

#news{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("/images/Backgroundnews.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#news h1{
    color: white;
}


/* MULTIMEDIA */

#fotosyvideos{
    background-color: rgb(215, 215, 215);
}

#fotosyvideos .container{
    text-align: center;
    padding: 100px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#fotosyvideos button{
    width: 300px;
    margin-top: 35px;
}

#fotosyvideos p{
    height: 50px;
    width: auto;
}


/* NOSOTROS */


#nosotros{
    background-color: rgb(30 ,30 ,30);
    color: white;
    text-align: center;
}

#nosotros .container{
    padding: 150px 0px;
}

#nosotros h2{
    margin-top: 0;
    font-size: 3.2em;
    
}

#nosotros p{
    display: none;
}

#nosotros .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 12px;
    box-shadow: 8px 15px 30px rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
    background-color: #000000a8;
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("/images/Instagram.jpeg");
}
.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("/images/facebook.jpg");
}

.carta:last-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("/images/youtube.jpeg");
}


/* CONTACTO */


#contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: rgb(245, 245, 245);
    color: white;
    height: 80vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("/images/contacto.jpg");

}

.img-container{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("/images/contacto.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/* FOOTER */


footer{
    background-color: rgb(230, 230, 230);
}

footer p{
    margin: 0;
    padding: 15px;
    color: rgb(100,100,100);

}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


/* CONTACTO */

    .main-contacto {
        background-color: #e3e1e7;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; }
    .main-contacto .titulo-contacto h2 {
        font-family: 'Roboto', sans-serif;
        font-size: 50px;
        text-align: center;
        padding-top: 3%; }
    .main-contacto .titulo-contacto p {
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
        text-align: center; }
    .main-contacto .formulario {
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        background-color: #372A4A;
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
        padding: 20px;
        margin: 2% 5% 5% 5%;
        border-radius: 5px;
        text-align: center; }
    .main-contacto .formulario .formulario__contenido {
        display: flex;
        flex-direction: column;
        gap: 5px; }
    .main-contacto .formulario .formulario__contenido input {
            padding: 5px;
            font-family: 'Roboto', sans-serif;
            border-radius: 5px; }
    .main-contacto .formulario .formulario__contenido textarea {
            resize: none;
            border-radius: 5px; }
    .main-contacto .formulario .formulario__contenido select {
            padding: 5px;
            border-radius: 5px; }
    .main-contacto .formulario .button {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: end;
            gap: 20px; }
    .main-contacto .formulario .button .button__ct {
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
            padding: 5px;
            border-radius: 5px; }

/* MULTIMEDIA */

    .main-videos h3 {
            margin: 15px;
            color: rgb(255, 255, 255);
            background-color: rgba(0, 0, 0, 0.847);
            font-family: 'Roboto', sans-serif;
            font-size: 55px;
            text-align: center;
             }

    .videos-linea {
                min-height: 100%;
                max-width: 95vw;
                display: grid;
                grid-template-columns: repeat(7, 1fr);
                grid-template-rows: auto;
                grid-template-areas: "futbol1 futbol4 futbol4 futbol4 futbol4 futbol4 futbol4"
                                     "futbol1 futbol5 futbol5 futbol5 futbol5 futbol5 futbol5";
                gap: 40px;
                margin: 0 auto;
                padding: 10% 0%; }
        .videos-linea .p1 {
                display: none;
                grid-area: futbol2; }
                
        .videos-linea .p2 {
                grid-area: futbol1; }
        .videos-linea .p3 {
                display: none;
                grid-area: futbol3; }
        .videos-linea .p4 {
                grid-area: futbol4; }
        .videos-linea .p5 {
                grid-area: futbol5; }

        .videos-linea img{
            width: 100%;
            height: 100%;
            
        }
        .videos-linea iframe {
                width: 100%;
                height: 120%;
                object-fit: cover;
                transition: 0.5s; }
        .videos-linea iframe:hover {
                filter: grayscale(0);
                transform: scale(1, 1.05); }
        

/* PRIMER @MEDIA */

@media (min-width:768px){ 

    .logo{
        margin-left: 50px;
    }

    .nav{
        height: 100px;
    }

    .icon{
        display: none;
    }


    .menu{
        position: relative;
        height: 100px;
        top: 0;
        background: none;
        transition: none;
        text-align: right;
        margin-right: 50px;
    }


    .menu li{
        display: inline;
        line-height: 100px;
        margin: 0 20px;
        transition: none;
    }

    .menu li a{
        font-size: 12px;
    }


    #fotosyvideos .container{
        text-align: center;
        padding: 100px 12px;
        display: grid;
        grid-template-columns: 1fr 1fr 0.5fr 0.5fr;
        grid-template-rows: 0.1fr 0.7fr 0.7fr;
        width: 100%;
        height: 100%;
        grid-template-areas: 
        "titulo titulo titulo titulo"
        "parrafo parrafo parrafo parrafo"
        "video video boton boton";
    }
    
    #fotosyvideos h2{
        grid-area: titulo;
    }
    
    #fotosyvideos iframe{
        grid-area: video;
    }
    
    
    #fotosyvideos p{
        grid-area: parrafo;
       
    }
    
    
    #fotosyvideos button{
        grid-area: boton;
        width: 220px;
        height: 80px;
        align-self: center;
    }
   
/* MULTIMEDIA 720 */

.videos-linea .p1 {
    display: block;
    grid-area: futbol2; }
.videos-linea .p3 {
    display: block;
    grid-area: futbol3; }

    .videos-linea {
grid-template-areas:  "futbol1 futbol2 futbol2 futbol2 futbol4 futbol4 futbol4"
                      "futbol1 futbol3 futbol3 futbol3 futbol5 futbol5 futbol5";
    }
}




















