*{
    box-sizing: border-box;
}


body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}



h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}

button{
    font-size: 2em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 15px;
    border: 3px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
    background-color: #6088AE;
}

button:hover{
    background-color: #312844;
}



/* HEADER */


header .container{
    height: 100px;
    width: 100%;
    background-color: rgba(77, 6, 52, 0.82);
    display: flex;
    justify-content: space-between;
    align-items: center;
} 


nav{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    padding: 10px;
    width: 160px;
    margin-left: 20px;
        
}

.icon{
    font-size: 25px;
    color: rgb(255, 255, 255);
    margin-right: 20px;
    cursor: pointer;
}


.menu{
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 100px;
    background-color: rgba(0, 0, 0, 0.822);
    text-align: center;
    transition: all .5s;

}

.menu li{
    display: none;
    line-height: 30px;
    margin: 50px 0;
   
}

.menu li a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 600;
}

.menu li a.active, .menu li a:hover{
    color: #34B994; 
    transition: .3s;
}

#check{
    display: none;
}

#check:checked ~ .menu{
    height: 100vh;
}

#check:checked ~ .menu li{
    display: block;
}




/* NOTICIAS */

#news{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("/images/Backgroundnews.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#news h1{
    color: white;
}


/* MULTIMEDIA */

#fotosyvideos{
    background-color: rgb(215, 215, 215);
}

#fotosyvideos .container{
    text-align: center;
    padding: 100px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#fotosyvideos button{
    width: 300px;
    margin-top: 35px;
}

#fotosyvideos p{
    height: 50px;
    width: auto;
}


/* NOSOTROS */


#nosotros{
    background-color: rgb(30 ,30 ,30);
    color: white;
    text-align: center;
}

#nosotros .container{
    padding: 150px 0px;
}

#nosotros h2{
    margin-top: 0;
    font-size: 3.2em;
    
}

#nosotros p{
    display: none;
}

#nosotros .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 12px;
    box-shadow: 8px 15px 30px rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
    background-color: #000000a8;
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("/images/Instagram.jpeg");
}
.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("/images/facebook.jpg");
}

.carta:last-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("/images/youtube.jpeg");
}


/* CONTACTO */


#contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: rgb(245, 245, 245);
    color: white;
    height: 80vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("/images/contacto.jpg");

}

.img-container{
    background: repeat no-repeat;
    background-position: center;
}

/* FOOTER */


footer{
    background-color: rgb(230, 230, 230);
}

footer p{
    margin: 0;
    padding: 15px;
    color: rgb(100,100,100);

}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


/* PRIMER @MEDIA */

@media (min-width:768px){ 

    .logo{
        margin-left: 50px;
    }

    .nav{
        height: 100px;
    }

    .icon{
        display: none;
    }


    .menu{
        position: relative;
        height: 100px;
        top: 0;
        background: none;
        transition: none;
        text-align: right;
        margin-right: 50px;
    }


    .menu li{
        display: inline;
        line-height: 100px;
        margin: 0 20px;
        transition: none;
    }

    .menu li a{
        font-size: 12px;
    }


    #fotosyvideos .container{
        text-align: center;
        padding: 100px 12px;
        display: grid;
        grid-template-columns: 1fr 1fr 0.5fr 0.5fr;
        grid-template-rows: 0.1fr 0.7fr 0.7fr;
        width: 100%;
        height: 100%;
        grid-template-areas: 
        "titulo titulo titulo titulo"
        "parrafo parrafo parrafo parrafo"
        "video video boton boton";
    }
    
    #fotosyvideos h2{
        grid-area: titulo;
    }
    
    #fotosyvideos iframe{
        grid-area: video;
    }
    
    
    #fotosyvideos p{
        grid-area: parrafo;
       
    }
    
    
    #fotosyvideos button{
        grid-area: boton;
        width: 220px;
        height: 80px;
        align-self: center;
    }
   
        
}




















